html{
  min-height: 100%;
}

body{
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  color: hsl(237, 12%, 33%);
  font-size: 12px;
  padding: 10% 0;
}

.container{
  margin: auto;
  width: 90%;
}

.imgDesk, .box{
  display: none;
}


.imgMob{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em; 
  margin-bottom: -6.5em;
}

.mainText{
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-color: white;
  background-position-y: top;
  background-position-x: center;
  background-size: 80%;
  padding-top: 10em;
  padding-bottom: 3em;
  border-radius: 26px;
  text-align: center;
  box-shadow: 0px 10px 25px hsla(246, 56%, 47%, 0.664);
}

.dropDown{
  width: 90%;
  text-align: left;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  line-height: 2;
}

.row{
  display: flex;
  flex-direction: column;
}


button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.accordian:active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  
}

.ans{
display: none;
color:  hsl(240, 6%, 50%);
font-weight: 400;
}

footer{
  text-align: center;
  margin-top: 2em;
}

@media only screen and (min-width: 500px){
  /* For tablet: */
  .graphics{
    width: 90%;
    margin: auto;
  }

  .mainText{
    background-position-y: -75px;
  }
}

@media only screen and (min-width: 850px){
  /* For desktop: */
  .container{
    background-color: #fff;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    
  }

  .graphics{
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -565px -320px;
    width: 100%;
    padding: 5em 0;
  }

  .box{
    display: block;
    float: left;
    margin-left: -8em;
    margin-top: 12em;
    padding-right: -15em;
  }

  .imgD{
    overflow: hidden;
  }

  .imgDesk{
    display: inline-block;
    margin-left: -6em;
    
  }

  .box{
    float: left;
    position: absolute;
  }

  .imgMob{
    display: none;
  }

  .mainText{
    box-shadow: none;
    background-image: none;
    text-align: left;
    width: 100%;
    padding: 5em 3em;
  }

  h1{
    padding-left: .7em;
  }

  
}